body {
  background-color: rgba(255,255,255,150);
};


article {
  width: 23em;
  border: 1px dashed black;
  margin: 0.5em 0.8em;
}


article > section {
  height: 14em;
  font-family: Courier New;
  text-align: center;
}


.page-break	{ display: block; page-break-after: always; }
