$labelFontSize: 1.8em;

body {
  background-color: rgba(255,255,255,150);
  -webkit-print-color-adjust: exact;
};

.col-xs-5 {
    margin-left: 25px;
}

.panel {
  border: none;
  box-shadow: none;
   background:#00BFFF;
       width: 430px;
    height: 420px;
}

h2.text-center {
    font-weight: bold;
    font-size: 35px;
}

header.panel-heading.clearfix {
    border: none;
    background: none;
}

span.label {
    color: #000;
}


.panel-footer {
    padding: 10px 15px;
    background: none;
    border: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

span.label.hours {
    font-size: 30px;
}



span.label.initials {
    font-size: 30px;
    text-transform: uppercase;
}

article {
  width: 23em;
  border: 1px solid black;
  margin: 0.5em 0.8em;

  & > section {
	  height: 23em;
	  font-family: Courier New;
	  text-align: center;  
  }

  & > header {
  	.label {
  		font-size: $labelFontSize;
  	}
  	.label-primary {
  		margin: -20px;
  		font-size: $labelFontSize*1.75;
  	} 	
  }
}

.page-break	{ display: block; page-break-after: always; }
