<div class="row" ng-repeat="anissue in issues track by $index" ng-if="$index % 2 == 0">
    <div ng-if="$index % 6 == 0" class="page-break"></div>


    <div class="col-xs-5"
    ng-repeat="i in [$index, $index + 1]" ng-if="issues[i] != null">
      <article class="panel panel-default">
        <header class="panel-heading clearfix">

          <div class="row">
              <div class="col-xs-6">
                  <span class="label">
                  {{issues[i]["PARENT_ISSUE"]}}
                  </span>
              </div>


              <div class="col-xs-6">
                <div class="pull-right">
                      <span class="label">
                      {{issues[i]["TASK_ISSUE"]}}
                      </span>
                  </div>
              </div>
          </div>

        </header>

        <section class="panel-body">
          <h2 class="text-center">
          {{issues[i]["DESCRIPTION"]}}
          </h2>
        </section>

        <footer class="panel-footer clearfix">
          <div class="row">
              <div class="col-xs-6">
              <span class="label hours">{{issues[i]["HOURS"]}} H</span>
            </div>

              <div class="col-xs-6">
                <div class="pull-right">
                    <span class="label initials">
                      {{issues[i]["IN"]}}
                    </span>
                </div>
            </div>
          </div>
        </footer>
      </article>
    </div>
</div>

<style media="print" type="text/css">

.col-xs-5 {
    margin-left: 40px !important;
}
    .panel {
  border: none;
  box-shadow: none;
   background:#00BFFF !important;
}
.label{
  border:none !important;
}
</style>