<article class="panel panel-default">
  <header class="panel-heading clearfix">
    <span class="label label-default">
    {{PARENT_ISSUE}}
    </span>
    <div class="pull-right">
    <span class="label label-primary">
      {{TASK_ISSUE}}
    </span>
    </div>
  </header>

  <section class="panel-body">
    <h5 class="center">
    {{DESCRIPTION}}
    </h5>
  </section>

  <footer class="panel-footer">
    <span class="label label-success">{{HOURS}}</span>
    <div class="pull-right">
      <span class="label label-info">
        {{IN}}
      </span>
    </div>
  </footer>
</article>


