<div class="row" ng-repeat="anissue in issues track by $index" ng-if="$index % 3 == 0">
    <div ng-if="$index % 12 == 0" class="page-break"></div>


    <div class="col-xs-4"
    ng-repeat="i in [$index, $index + 1, $index + 2]"
    ng-if="issues[i] != null"
    >
      <article class="panel panel-default">
        <header class="panel-heading clearfix">
          <span class="label label-default">
          {{issues[i]["PARENT_ISSUE"]}}
          </span>
          <div class="pull-right">
          <span class="label label-primary">
            {{issues[i]["TASK_ISSUE"]}}
          </span>
          </div>
        </header>

        <section class="panel-body">
          <h2 class="text-center">
          {{issues[i]["DESCRIPTION"]}}
          </h2>
        </section>

        <footer class="panel-footer">
          <span class="label label-success">{{issues[i]["HOURS"]}}</span>
          <div class="pull-right">
            <span class="label label-info">
              {{issues[i]["IN"]}}
            </span>
          </div>
        </footer>
      </article>
    </div>
</div>
